<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>478304195877-3thcc2k6md1o6ualfat0aib9e13qn0op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478304195877-3thcc2k6md1o6ualfat0aib9e13qn0op</string>
	<key>API_KEY</key>
	<string>AIzaSyAAlBCLhiB45-yf1D3WNFx9yreUFpc4gLI</string>
	<key>GCM_SENDER_ID</key>
	<string>478304195877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dolmong.instaandfire</string>
	<key>PROJECT_ID</key>
	<string>instaandfire</string>
	<key>STORAGE_BUCKET</key>
	<string>instaandfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:478304195877:ios:fb86e044c4cc8336</string>
	<key>DATABASE_URL</key>
	<string>https://instaandfire.firebaseio.com</string>
</dict>
</plist>